/*primer parcial sisi313*/
body{
    margin: 0%;
    
}
header{
    margin: 0%;
}
.banner{
    margin: 0;
    
}
.menu{
    background-color: black;
    margin: 0;
    padding: 30px 30px 30px 30px;
}
.menu a{
    margin: 0;
    padding: 0px 20px 0px 0px;
    text-decoration: none;
    color: white;
}
.menu li{
    list-style: none;
}
.material-icons{
    color: white;
}
.material-icons-1{
    padding: 0px 0px 0px 600px;
    color:black;
}
main{
    background-color: rgb(75, 73, 73);
    margin: 0;
    padding: 30px 500px 0px 50px;
    border: 0;
    font-family: 'Antonio', sans-serif;  
}
#ci{
    padding: 0px 50px 0px 50px;
    font-family: 'MonteCarlo', cursive;
}
.main p{
    float: left;
}
img{
    font-size: 100%;
    margin: 0px 200px 0px 200px;
}
.cu{
    width: 1240px;
    column-count: 4;
    padding: 20px 0px 20px 30px;

}
.container{
    width: 250px;
    height: 170px;
    background-image: url("img/compu1.webp") ;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;

}
.one{
    width: 250px;
    height: 170px;
}
.one h2{
    font-size: 33px;
}
hr{
    height: 1px;
    width: 300px;
    background-color: rgb(105, 105, 105);
}
footer{
    background-color: rgb(32, 32, 32) ;
    color: white;
    padding: 20px;
    column-count: 3;
}
.footer{
    width: 400px;
    height: 100px;
}





